<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
   <!-- if/when troubles arrised
  <system.diagnostics>
      <sources>
            <source name="System.ServiceModel" 
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
            <listeners>
               <add name="traceListener" 
                   type="System.Diagnostics.XmlWriterTraceListener" 
                   initializeData= "d:\log\whatisgoingonhere.svclog" />
            </listeners>
         </source>
      </sources>
   </system.diagnostics>
   -->
   
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomerEndpointBehavior">
          <clientCredentials>
            <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="www.clientdomainhere.com"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basic_binding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm=""/>
          </security>
        </binding>
      </basicHttpBinding>
      
      <!-- figured i should roll back to lower level Soap Messaging to get by content type errors from server because -->
      <!-- SoapUI works but my guess is layer7 is not updated so lets rollback to Soap11, thankfully there is a custom binding to do this-->
      
      <customBinding>
        <binding name="Secured">
          <textMessageEncoding messageVersion="Soap11"/>
          <httpsTransport authenticationScheme="Anonymous" realm="" requireClientCertificate="true"/>
        </binding>
      </customBinding>
    </bindings>
    <!-- fyi IIS web gardens i would assume would come from the NAT'ed external ip, but router uses a different external pool 
    <!-- for every w3p.exe (they all use it odly) from the CISCO router -->
    <client>
      <endpoint address="https://service.someserver.com:4443/someService" binding="customBinding" bindingConfiguration="Secured" contract="ws.ServiceContract" name="basic_binding" behaviorConfiguration="CustomerEndpointBehavior"/>    </client>
  </system.serviceModel>
</configuration>
